body {
    background-image: url("../Aufgabe_5/images/bg.png");
}

#Karte {
    position: absolute;
    text-align: center;
    top: 180px;
    transform: none;
    left: 470px;
    }


.Uberschrift {
     position:absolute;
    left: 510px;
    top: 228px;
    color: white;
}

#Box {
    position: absolute;
    left: 510px;
    top: 290px;
    color: white;
}
textarea {
    width: 180px;
    height: 45px;
    padding: 5px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    overflow: hidden;
    background-color: rgba(41,51,120,255);
    border: 1px solid rgba(41,51,120,255);
    border-radius: 25px;
}
li {
    border-bottom: 1px solid rgba(41,51,120,255);
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
     color: gold;
}

a:hover {
    background-color: rgba(41,51,120,255);
    color: gold;
}